body {
   background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)), url(https://64.media.tumblr.com/210c73468c6097337080eb88a89de8be/8239408fdc6d6bf5-13/s1280x1920/e60ec05170567954deba8a7aeef17fbadc679e96.png);
    

  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
     background-size: 100% 100%;
}

#deck-page{

}

#deck-page-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
   
}

#Main-Title{
    
    color: blueviolet;
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    -webkit-text-stroke: 2px black;
}

#Deck-page-Title{
    color: blueviolet;
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: 40px;
    -webkit-text-stroke: 2px black;
    
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 0px;
}

#Create-Deck-Button {
    transition: 0.5s;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(82, 0, 114);
    color: white;
    font-size: 28px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
}

#Create-Deck-Button:hover{
    background-color: grey;
    color: beige;
    transform: scale(1.05);
}

#Create-Deck-Button:active{
    transform: scale(0.9);
    transition: 0.1s;
}

#Create-Card-Button {

    transition: 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(136, 62, 146);
    color: white;
    font-size: 28px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    

}

#Create-Card-Button:hover {
    background-color: grey;
    color: beige;
    transform: scale(1.05);
    
}

#Create-Card-Button:active {
    transform: scale(0.9);
    transition: 0.1s;
}



#Card-Creation {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 600px;
    background-color: blueviolet;
    border-style: solid;
     border-width: 10px;
       border-radius: 10px;
    border-color: rgb(98, 8, 121);
 
   
}




#decks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.deck {
    transition: 0.5s;
    width: 200px;
    height: 300px;
    background-color: rgb(196, 150, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 15px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.deck:hover{
 background-color: rgb(135, 49, 156);
    color: beige;
    transform: scale(1.05);
}

.deck:active {
    transform: scale(0.9);
    transition: 0.1s;
}

.decktitle{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   font-size: 25px;
}

#go-back{

     position: absolute;
    left: 0px;
    transition: 0.5s;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(82, 0, 114);
    color: white;
    font-size: 28px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#go-back:hover{
    background-color: grey;
    color: beige;
    transform: scale(1.05);
}

#go-back:active{
    transform: scale(0.9);
    transition: 0.1s;
}